.invoice-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, .55);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px;

    z-index: 1000;
}

.invoice-buttons {

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 18px;

    margin-top: 35px;

    position: relative;
}

@keyframes popup {

    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.invoice-header {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    margin-bottom: 25px;

    position: static;

    top: auto;

    background: transparent;

    z-index: auto;
}

.invoice-header h1 {

    color: #2563EB;
    margin-bottom: 5px;
}

.invoice-number {

    text-align: right;
}

.invoice-body {

    padding: 35px;
}

.invoice-details {

    display: flex;
    justify-content: space-between;

    gap: 40px;

    margin: 25px 0;
}

.invoice-table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;
}

.invoice-table th {

    background: #2563EB;

    color: white;

    padding: 12px;
}

.invoice-table td {

    padding: 12px;

    border: 1px solid #ddd;
}

.invoice-total {

    margin-top: 30px;

    padding: 20px;

    background: #ECFDF5;

    border-radius: 12px;

    text-align: right;
}

.invoice-total h1 {

    margin-top: 10px;

    color: #059669;
}

.payment-box {

    margin-top: 25px;

    padding: 18px;

    background: #F8FAFC;

    border-radius: 10px;
}

.invoice-footer {

    text-align: center;

    margin-top: 35px;
}


.print-btn {

    border: none;

    padding: 12px 22px;

    border-radius: 10px;

    background: #2563EB;

    color: white;

    cursor: pointer;
}

.pdf-btn {

    border: none;

    padding: 12px 22px;

    border-radius: 10px;

    background: #DC2626;

    color: white;

    cursor: pointer;
}

.invoice-container {
    position: relative;

    width: 900px;
    max-width: 95%;
    max-height: 90vh;

    background: #fff;
    border-radius: 18px;

    overflow-y: auto;

    padding: 35px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, .2);

    animation: popup .25s ease;
}

.close-btn {

    position: absolute;

    right: -10px;
    top: 50%;

    transform: translateY(-50%);

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background: #ffffff;
    color: #374151;

    font-size: 28px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .2);

    z-index: 999;
}

.close-btn:hover {

    background: #ef4444;
    color: white;

    transform: translateY(-50%) rotate(90deg);
}